include ../../components/button/button.pug
include ../../components/textfield/textfield.pug

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Вход
    body
        script(src="login.js") 
        .content
            form(action='#' method='method').login-window.elevation.bordered 
                .login-window__title.text-title.mb-10 Вход
                .login-window__input.mb-4
                    +textfield('Логин','Логин','login')(type='email')
                .login-window__input.mb-4
                    +textfield('Пароль','Пароль','password')(type='password')
                .login-window__auth-btn.mb-4
                    +button('Войти')(type='submit')
                a.login-window__no-account.link(href="../registration/registration.pug") Нет аккаунта?

    
    
    
