include ../../components/button/button.pug
include ../../components/textfield/textfield.pug

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Change password
    body 
        script(src="change-password.js") 
        .change-password
            .change-password__back-btn
                +button('Назад к чатам')(onclick="window.location.href='../chat-list/chat-list.html'")
            .change-password__avatar.mb-2 
                input(type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;")
            .change-password__name.mb-4 Иван
            .change-password__info.mb-4 
                +textfield('Старый пароль', '', 'oldPassword')(value='pochta@yandex.ru' type='password')
                +textfield('Новый пароль', '', 'newPassword')(value='ivanivanov' type='password')
                +textfield('Повторите новый пароль', '', 'newPassword_repeat')(value='Иван' type='password')
            .change-password__actions 
                +button('Сохранить') 
