@import '../../assets/style/main.scss';

.change-password{
    background: var(--color-secondary);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    &__back-btn{
        position: absolute;
        top: 20px;
        left: 20px;
    }
    &__avatar{
        width: 130px;
        height: 130px;
        background: var(--color-disabled);
        border-radius: 50%;
        border: 1px solid black;
    }
    &__name{
        font-size: 16px;
        font-weight: bold;
    }
    &__info, &__actions{
        width: 100%;
        max-width: 500px;
    }
    &__actions{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .link.exit{
        color: var(--color-error) !important;
    }
}