@import '../../assets/style/main.scss';

body{
    background: var(--color-darkenSecondary);
    height: 100vh;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    .chat-list{
        background: var(--color-secondary);
        width: 310px;
        padding: 10px;
    }
}