include ../../components/button/button.pug
include ../../components/textfield/textfield.pug
include ./components/chat-list-item/chat-list-item.pug

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title simple-chat
    body 
        script(src="chat-list.js") 
        .content 
            .chat-list 
                .chat-list__header 
                    .profile-btn.mb-4 
                        a(href="../profile/profile.pug") Профиль
                    .search.mb-2
                        +textfield('Поиск','Поиск','search')
                .chat-list__list 
                    +chatListItem('Георгий', '', 'Я не знаю', '10:20', 0) 
                    +chatListItem('Вадим', '', 'Random message', '20:10', 4)
            .selected-chat
                .selected-chat__header 
                    .user
                        .user__photo 
                        .user__name 
                    .menu
                .selected-chat__chat-area 
                    .messages-onDate 
                        .messages-onDate__date 
                        .messages-onDate__messages 
                            .message.opponent-message
                            .message.my-message
                .selected-chat__footer 
                    .pin-btn 
                    .message-input 
                        +textfield('Сообщение','Сообщение','message')
                    .send-btn