.textfield{
    display: flex;
    flex-direction: column;
    width: 100%;
    &__input{
        width: 100%;
        height: 36px;
        border-radius: 4px;
        border: 1px solid var(--color-disabled);
        background: #ffffff;
        box-sizing: border-box;
        &:focus-visible{
            outline: 2px solid var(--color-primary);
        }   
    }
    input{
        font-size: 16px;
    }
    input::placeholder{
        color: var(--color-disabled);
    }
    input[type="text"], input[type="email"], input[type="password"]{
        padding-left: 10px;
    }
}