
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Not found
    body 
        script(src="./not-found.js") 
        .not-found 
            img.not-found__icon(src="../../assets/icons/close-octagon.svg")
            .not-found__text Такой страницы не существует
            a.link(href="../chat-list/chat-list.pug") Назад к чатам